<footer>
    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/Aminbhs" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/AminBHS" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/aminbouhassoune/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Create and editing this website is one of my hobbies
      </div>
    </div>
</footer>
